# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore environment settings
.env
.venv/

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Ignore build files
build/
dist/
